@import url('https://fonts.googleapis.com/css2?family=Poppins:400,500,600,700&display=swap');

body {
    margin: 0;

}

html {
    background-color: black;
}

.App {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#fac2cd;
    font-size: 60px;
}

ul {
    list-style-type: none;
    padding-top: 10px;
    margin-left: 0;
    margin-top: 0;
    padding-inline-start: 20px!important;

    li {
        display: inline;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin: 2px;

        a {
            text-decoration: none;
            color: #fac2cd;            
            transition: 0.5s;        
        }
        a:hover {
            color: black;
        }
    }
}


@media (min-width: 650px ) {
    .App {
        background-position: unset;
    }

}


//ADMIN PAGE

div.adminContainer {
    font-family: 'Poppins', sans-serif;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 15px;

    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;

    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;

    h2{
        font-size: 30px;
        margin-left: 2px;
    }    

    table.adminBookingTable {
        width: 100%;
        align-content: center;
        
        th {
            text-align: left;
            font-size: 20px;
            padding: 10px;
            background: rgba(255, 255, 255, 0.9);
        }

        td {
            background: rgba(255, 255, 255, 0.9);
            padding: 8px;
        }

        .admintdEditOrDelete {
            color: rgb(56, 55, 55);
            text-align: center;

            .adminEditIcon {
                padding: 4px;
            }
            
            .adminDeleteIcon {
                padding: 4px;
            }
        }
}

//ERROR PAGE

.errorContainer {
    width: 30%;
    margin-top: 40px;
    margin-left: 20px;

    .errorText {
        color: white;
        font-family: 'Poppins', sans-serif;

        a {
            color: #fac2cd; 
        }

        a:hover {
            color: black;
        }
    }
}
}

// BOOKING CONTAINER

.booking-container {
    background-color: rgba(0, 0, 0, 0.753);
    height: 500px;
    width: 32   0px;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    border: 40px solid rgba(29, 29, 29, 0.877);

    #booking-options {
        width: 50%;
        border-radius: 4px;
        height: 25px;
        font-family: 'Poppins', sans-serif;
    }

    #booking-date{
        width: 100%;
        font-family: 'Poppins', sans-serif;
        border-radius: 4px;
        height: 25px;
    }
    button {
        font-family: 'Poppins', sans-serif;
        border-radius: 4px;
        height: 25px;
    }
}

//GUEST CONTAINER

.guest-container {

    background-color: rgba(0, 0, 0, 0.753);
    height: 500px;
    width: 320px;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    border: 40px solid rgba(29, 29, 29, 0.877);
}